*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth; 

}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: rgba(248, 238, 181, 0.877);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

header nav .navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: 244px;
    right: 0;
    left: 0;
    background: white;
    z-index: 1000;
}

nav .logo{
	width: 70px;
	height: 110px;
	display: flex;
	
}
.header nav form{
	margin-left: 20px;
	display: flex;
}
.header nav form #search{
	height: 40px;
	width: 500px;
	background:#fff;
	outline: none;
	display: flex;
	border-radius: 60px;
	border-color: transparent;
	color: #41a11b;
	padding: 0 20px;
	
}
header nav form label{
	height: 60px;
	width: 40px;
	background:transparent;
	color: #000000;
	cursor: pointer;
	line-height: 40px;
    margin-top: 10px;
	text-align: center;
}
header nav form label:hover{
	color: #41a11be7;

}
@media (max-width:991px) {
	.header .hed1 form #search{
		width: 100%;
	}	
}

header nav .icons{
    display: flex;  
}

header nav .icons a{
	font-size: 17px;
	color: #000000;
	margin: 5px;
	text-decoration:none;
}
header nav .icons a:hover{
	color: #41a11b;

}
header nav .icons .shopping{
	font-size: 17px;
	color: #000000;
	margin: 5px;
	text-decoration:none;
    cursor: pointer;
}
header nav .icons .shopping:hover{
	color: #41a11b;

}
header span{
    background-color: rgba(247, 37, 37, 0.932);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 32px;
    left: 1200px;
    padding: 0 4px;
}
/*cart*/

section .List{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

section .card{
    position: fixed;
    top: 120px;
    left: 100%;
    width: 500px;
    background-color: #cccccc;
    height: 100vh;
    transition: 0.5s;
}

section .card h1{
    color: #41a11b;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

section .card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section .card .checkOut div{
    background-color: #fff;
    width: 100%;
    height: 50px;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

section .card .checkOut div:nth-child(2){
    background-color: #41a11b;
    color: #fff;
}

.active section .card{
    left: calc(100% - 500px);
}

.active section .container{
    transform: translateX(-200px);
}






header nav .navi .Menubar{
	display: inline-block;
	margin-right: 260px;
	cursor: pointer;
}

header nav .navi ul{
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
header nav .navi ul li{
	margin: 10px;
}
header nav .navi ul li a{
	color: #000000;
    text-decoration:none;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 30px;
	justify-content: center;
}
header nav .navi ul li a:hover{
	color: #41a11b;
}
/*dropdown*/
.dropdown{
	display: none;
	
}
header nav .navi ul li:hover .dropdown{
	display: block;
	position: absolute;
	background: #fff;
	margin-left: -15px;
}
.header .hed2 .navi ul li:hover .dropdown ul{
	display: block;
	margin: 10px;
}
.header .hed2 .navi ul li:hover .dropdown ul li{
	width: 150px;
}
	
/*end of dropdown*/
/*end of header*/

.icons{
    justify-content: space-around;
    font-size: xx-large;
    color: rgb(190, 135, 63,0.726);
}

.icons span{
    font-size:large;
    color: #000;

}

.about-content{
	position: relative;
    top: 150px;
	background: rgba(245, 245, 245, 0.932);
}

.about{
	display: flex;
	align-items: center;
	width: 85%;
	margin: auto;
}  
.about img{
	flex: 0 32%;
	max-width: 50%;
	height: auto;
    width: 40px;
} 


.content{
	padding: 35px;
}
.content h2{
	color: #000000;
	font-size: 24px;
}


.all{
    margin-top: 40px;
}

#container{
    width: 950px;
    margin: 0 auto;
}
.col1{
    width: 450px;
    float: left;
    margin-bottom: 200px;
    font-size: larger;
}
.col2{
    width: 450px;
    float: left;
    margin-bottom: 200px;
    font-size: large;
}

.diner_icon{
    color:rgba(190, 135, 63, 0.726);
    margin-left: 10px;
}
table, th, td {
    margin-top: 10px;
    border:1px solid rgb(100, 100, 100);
    border-collapse: collapse;
    text-align: center;
    padding: auto;  
}
  
th, td {
    text-align: center;
    padding: 8px;
}
  
th {
    background-color: rgba(190, 135, 63, 0.726);
    color: white;
}

/*end of about us page*/

.footer{
	margin-top: 130px;
	width: 100%;
	padding: 70px 10%;
	background-color:rgba(248, 238, 181, 0.877);
	display: flex;
}
.footer div{
	text-align: center;
}
.col-2{
	flex-grow: 3;
}
.footer div h3{
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
.col-2 a{
	display: block;
	text-decoration: none;
	color: rgb(73, 73, 73);
	margin-bottom: 10px;
}
.col-3 a{
	display: block;
	text-decoration: none;
	color: rgb(73, 73, 73);
	margin-bottom: 10px;
}
.col-1 p{
	margin-top: 15px;
	margin-bottom: 15px;
}

.col-1 button{
	background: transparent;
	border: 2px solid #fff;
	color: rgb(73, 73, 73);
	border-radius: 30px;
	padding: 10px 30px;
	margin: 10px;
	font-size: 15px;
	cursor: pointer;
}
.social-icons{
	margin-top: 30px;
}
.social-icons i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}
/*end of footer*/
